extends ./base.pug

block content  
    div.delete
        section.delete_col1
            .dc__box
            .dc__pname #{data.Pname}
            .dc__type #{data.type}
            .dc__price #{data.price}
            .dc__createdAt #{data.createdAt}
            .dc__hostName #{data.hostName}
            .dc__area #{data.area}
            .dc__socpe #{data.socpe}
            .dc__divide #{data.divide}

        
             
            
