extends ./base.pug

block content  
     each data in pList 
            h3 #{data.Pname} 
            h4 #{data.type}
            h4 #{data.price} 원
            h4 #{data.createdAt}
            h4 #{data.hostName}
            h4 #{data.area}
            h4 #{data.socpe} 점
            h4 #{data.divide} 
            hr
